.footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 0;
	/* margin-bottom: 20rem; */
	text-align: center;

	/* outline: 1px solid red; */
}

.footer__article {
	border-radius: 5px;
	width: 80%;

	/* outline: 1px solid red; */
}

.footer-icons {
	color: #1259c3;
	font-size: 2rem;
	padding-top: 2rem;
}

.copy {
	padding: 1rem 0;
}

@media (min-width: 320px) {
	.footer {
		margin: 1rem 2%;
		margin-bottom: 5rem;
	}

	.footer section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.footer {
		/* flex-direction: row; */
		gap: 1rem;
		margin: 1rem 10%;
		margin-bottom: 3rem;
	}

	.footer__article {
		padding: 1rem;
	}

	.footer-icons {
		padding: 0;
		padding-bottom: 1rem;
	}

	.footer section {
		flex-direction: row;
	}

	.copy {
		align-self: self-start;
	}
}

@media (min-width: 1024px) {
	.footer__article:hover {
		box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
		transition: box-shadow 300ms ease-in-out;
	}

	.footer__article:hover .footer-icons {
		color: #000000;
		transition: color 300ms ease-in-out;
	}
}

@media (min-width: 1440px) {
	.footer {
		margin: 1rem 15%;
		margin-bottom: 3rem;
	}
}