.header {
	align-items: center;
	background-color: var(--clr-yellow);
	height: 70px;
	justify-content: space-between;
	display: flex;
	gap: 1rem;
	padding: 0.5rem 1rem;
	position: relative;
	z-index: 10;
}

.header__logo-container {
	width: 100px;
	/* height: 90%; */
	/* max-width: 100px; */
	/* max-height: 90%; */

	outline: 1px solid red;
}

.header__logo-container a {
	align-items: center;
	display: flex;
}

.header__search-area {
	align-items: center;
	background-color: #ffffff;
	border-radius: 50px;
	display: flex;
	height: 80%;
	max-height: 50px;
	max-width: 450px;
	overflow: hidden;
	width: 100%;

	outline: 1px solid green;
}

.header__search-area input {
	border: none;
	font-size: 1rem;
	height: 80%;
	outline: none;
	padding: 0 0.8rem;
	width: 100%;

	/* outline: 1px solid red; */
}

.header__search-area button {
	background-color: transparent;
	border: none;
	border-left: 1px solid hsla(0, 0%, 0%, 0.2);
	height: 80%;
	padding-right: 5px;
	width: 20%;

	/* outline: 1px solid red; */
}

.header__menu-button {
	align-items: center;
	color: var(--clr-header-font);
	font-size: 1.5rem;
	display: flex;

	/* outline: 1px solid red; */
}

.header__menu {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 0;

	/* experimental */
	position: absolute;
	width: 100%;
	transform: translateY(-100%);
	transition: transform 500ms ease-in-out;

	/* outline: 1px solid red; */
}

.header__menu[data-visible="true"] {
	transform: translateY(0%);
}

.menu__item a {
	color: #000000;
	display: block;
	padding: 0.5rem 1rem;

	/* outline: 1px solid red; */
}

@media (min-width: 320px) {
	.header {
		padding: 0.5rem 2%;

		outline: 1px solid red;
	}
}

@media (min-width: 768px) {
	.header {
		padding: 0.5rem 2%;

		outline: 1px solid red;
	}

	.header__menu-button {
		display: none;
	}

	.header__menu {
		background-color: var(--clr-yellow);
		flex-direction: row;
		gap: none;
		justify-content: space-between;
		padding: 0.5rem 2%;
		transform: translateY(0%);

		outline: 1px solid red;
	}

	.menu-list {
		display: flex;

		outline: 1px solid red;
	}

	.menu__item a {
		padding: 0.5rem 0.5rem;
	}
}

@media (min-width: 768px) {
	.menu__item:hover {
		background-color: hsl(55, 90%, 57%);
		transition: background-color 300ms ease-in-out;
	}
}

@media (min-width: 1024px) {
	.header {
		padding: 0.5rem 10%;

		outline: 1px solid red;
	}

	.header__menu {
		padding: 0.5rem 10%;
	}

	.menu__item a {
		padding: 0.5rem 1rem;
	}
}

@media (min-width: 1440px) {
	.header {
		padding: 0.5rem 15%;
		/* max-width: 1100px; */

		outline: 1px solid red;
	}

	.header__menu {
		padding: 0.5rem 15%;
	}
}