.container {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 1rem 0.5rem;

	/* border: 1px solid red; */
}

.label {
	font-size: 1.2rem;
	display: block;
	margin-bottom: 0.5rem;
}

.container form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	max-width: 400px;
	width: 100%;

	/* border: 1px solid red; */
}

.birthdate {
	width: 100%;
	text-align: start;

	/* outline: 1px solid red; */
}

.texto {
	border-radius: 5px;
	height: 40px;
	width: 100%;
	padding-left: 0.5rem;
	outline: none;
	border: none;
}

.texto:focus {
	outline: 1px solid hsla(0, 0%, 0%, 0.3);
}

.user-profile {
	width: 100%;
	text-align: start;
}

.user-profile div {
	align-items: baseline;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.interest {
	text-align: start;
	width: 100%;
}

.options {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.options li {
	align-items: baseline;
	display: flex;
	gap: 0.2rem;
}

.profile-pic {
	width: 100%;
	text-align: start;
}

.form-buttons {
	display: flex;
	gap: 1rem;
}

.form-buttons button {
	background-color: rgb(25, 125, 255);
	border: none;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	padding: 0.5rem 1rem;
}

.form-buttons button:hover {
	transform: translateY(-5px);
	transition: transform 250ms ease-in-out;
}