:root {
	--clr-yellow: #fff159;
	--clr-header-font: #333333e6;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	list-style: none;
	text-decoration: none;
	padding: 0;
}

img,
svg,
video {
	max-width: 100%;
	object-fit: cover;
}

body {
	background-color: rgb(237, 237, 237);
}