<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MercadoLiebre</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/footer.css">
	<script src="/js/index.js" defer></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<div class="header">
			<div class="header__logo-container">
				<a href="#">
					<img src="/img/logo-mercado-liebre.svg" alt="">
				</a>
			</div>
			<form class="header__search-area" action="" method="get">
				<input type="text" name="search-bar">
				<button type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>
			<div class="header__menu-button">
				<i class="fa-solid fa-bars"></i>
			</div>
		</div>
		<div class="header__menu" data-visible="false">
			<ul class="menu-list">
				<li class="menu__item">
					<a href="#">Ofertas</a>
				</li>
				<li class="menu__item">
					<a href="#">Tiendas Oficiales</a>
				</li>
				<li class="menu__item">
					<a href="#">Vender</a>
				</li>
				<li class="menu__item">
					<a href="#">Ayuda</a>
				</li>
			</ul>
			<ul class="menu-list">
				<li class="menu__item"><a href="#">Registrarse</a></li>
				<li class="menu__item"><a href="#">Ingresar</a></li>
				<li class="menu__item"><a href="#">Mis Compras</a></li>
			</ul>
		</div>
	</header>
	<main>
		<section>
			<img src="/img/img-home-banner.jpg" alt="">
		</section>
		<section class="container">
			<p class="section-paragraph">Basado en tu última visita</p>
			<div class="product-container">
				<div class="product">
					<div class="img-container">
						<img src="/img/img-cafetera-moulinex.jpg" alt="">
					</div>
					<div class="product__details">
						<div class="truck-container">
							<i class="fa-solid fa-truck"></i>
						</div>
						<div class="price-disct-container">
							<p class="product__price">$6.770</p>
							<p class="product__discount">40% off</p>
						</div>
						<p class="product__description">Cafetera Moulinex</p>
					</div>
				</div>
				<div class="product">
					<div class="img-container">
						<img src="/img/img-macbook-pro-2019.jpg" alt="">
					</div>
					<div class="product__details">
						<div class="truck-container">
							<i class="fa-solid fa-truck"></i>
						</div>
						<div class="price-disct-container">
							<p class="product__price">$230.000</p>
							<p class="product__discount">20% off</p>
						</div>
						<p class="product__description">MacBook Pro 2019</p>
					</div>
				</div>
				<div class="product">
					<div class="img-container">
						<img src="/img/img-samsung-galaxy-s10.jpg" alt="">
					</div>
					<div class="product__details">
						<div class="truck-container">
							<i class="fa-solid fa-truck"></i>
						</div>
						<div class="price-disct-container">
							<p class="product__price">$70.500</p>
							<p class="product__discount">10% off</p>
						</div>
						<p class="product__description">Samsung Galaxy S10</p>
					</div>
				</div>
				<div class="product">
					<div class="img-container">
						<img src="/img/img-tv-samsung-smart.jpg" alt="">
					</div>
					<div class="product__details">
						<div class="truck-container">
							<i class="fa-solid fa-truck"></i>
						</div>
						<div class="price-disct-container">
							<p class="product__price">$200.000</p>
							<p class="product__discount">5% off</p>
						</div>
						<p class="product__description">SmartTV Samsung 50"</p>
					</div>
				</div>
			</div>
		</section>
		<section class="container">
			<p class="section-paragraph">Ofertas</p>
			<div class="product-container">
				<div class="product">
					<div class="img-container">
						<img src="/img/img-cafetera-moulinex.jpg" alt="">
					</div>
					<div class="product__details">
						<div class="truck-container">
							<i class="fa-solid fa-truck"></i>
						</div>
						<div class="price-disct-container">
							<p class="product__price">$6.770</p>
							<p class="product__discount">40% off</p>
						</div>
						<p class="product__description">Cafetera Moulinex</p>
					</div>
				</div>
				<div class="product">
					<div class="img-container">
						<img src="/img/img-macbook-pro-2019.jpg" alt="">
					</div>
					<div class="product__details">
						<div class="truck-container">
							<i class="fa-solid fa-truck"></i>
						</div>
						<div class="price-disct-container">
							<p class="product__price">$230.000</p>
							<p class="product__discount">20% off</p>
						</div>
						<p class="product__description">MacBook Pro 2019</p>
					</div>
				</div>
				<div class="product">
					<div class="img-container">
						<img src="/img/img-samsung-galaxy-s10.jpg" alt="">
					</div>
					<div class="product__details">
						<div class="truck-container">
							<i class="fa-solid fa-truck"></i>
						</div>
						<div class="price-disct-container">
							<p class="product__price">$70.500</p>
							<p class="product__discount">10% off</p>
						</div>
						<p class="product__description">Samsung Galaxy S10</p>
					</div>
				</div>
				<div class="product">
					<div class="img-container">
						<img src="/img/img-tv-samsung-smart.jpg" alt="">
					</div>
					<div class="product__details">
						<div class="truck-container">
							<i class="fa-solid fa-truck"></i>
						</div>
						<div class="price-disct-container">
							<p class="product__price">$200.000</p>
							<p class="product__discount">5% off</p>
						</div>
						<p class="product__description">SmartTV Samsung 50"</p>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<article class="footer__article">
			<i class="fa-solid fa-credit-card footer-icons"></i>
			<h3>Pagá con tarjeta o en efectivo</h3>
			<p>
				Con MercadoLiebre Cash, tenés cuotas
				sin interés con tarjeta o efectivo en
				puntos de pago. ¡Y siempre es seguro!
			</p>
		</article>
		<article class="footer__article">
			<i class="fa-solid fa-gift footer-icons"></i>
			<h3>Envio gratis desde $2.500</h3>
			<p>
				Solo por estar registrado en MercadoLiebre
				tenés envios gratis en miles de productos.
				Es un beneficio de MercadoPuntos.
			</p>
		</article>
		<article class="footer__article">
			<i class="fa-solid fa-user-shield footer-icons"></i>
			<h3>Seguridad, de principio a fin</h3>
			<p>
				¿No te gusta? ¡Devolvelo! En MercadoLiebre,
				no hay nada que no puedas hacer, porque estás
				siempre protegido.
			</p>
		</article>
	</footer>
</body>

</html>