<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MercadoLiebre - Iniciar Sesion</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/signup.css">
	<link rel="stylesheet" href="/css/footer.css">
	<script src="/js/index.js" defer></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<div class="header">
			<div class="header__logo-container">
				<a href="/">
					<img src="/img/logo-mercado-liebre.svg" alt="">
				</a>
			</div>
			<form class="header__search-area" action="" method="get">
				<input type="text" name="search-bar">
				<button type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>
			<div class="header__menu-button">
				<i class="fa-solid fa-bars"></i>
			</div>
		</div>
		<div class="header__menu" data-visible="false">
			<ul class="menu-list">
				<li class="menu__item">
					<a href="#">Ofertas</a>
				</li>
				<li class="menu__item">
					<a href="#">Tiendas Oficiales</a>
				</li>
				<li class="menu__item">
					<a href="#">Vender</a>
				</li>
				<li class="menu__item">
					<a href="#">Ayuda</a>
				</li>
			</ul>
			<ul class="menu-list">
				<li class="menu__item"><a href="/signup">Creá tu cuenta</a></li>
				<li class="menu__item"><a href="/signin">Ingresá</a></li>
				<li class="menu__item"><a href="#">Mis Compras</a></li>
			</ul>
		</div>
	</header>
	<main>
		<div class="container">
			<form action="/signin" method="post">
				<input class="texto" type="text" name="username" id="username" placeholder="Nombre de usuario" minlength="5" required>
				<input class="texto" type="password" name="password" id="password" placeholder="Contraseña" minlength="1" required>
				<div class="form-buttons">
					<button type="submit">Entrar</button>
				</div>
			</form>
		</div>
	</main>
</body>

</html>